.section.footer
  .w-container
    .w-row
      .w-col.w-col-2
        h4.footer-title Компания
        a.page-link.in-footer(href='http://iq300.ru/pricing') Цены
        a.page-link.in-footer(href='http://demo.iq300.ru/') Демо iQ300
        a.page-link.in-footer(href='http://iq300.ru/blog') Блог
        a.page-link.in-footer(href='http://iq300.ru/news') Сми о Нас
      .w-col.w-col-3
        h4.footer-title Помощь
        a.page-link.in-footer(href='http://iq300.ru/howtodeploy') Как внедрить iQ300
        a.page-link.in-footer(href='http://iq300.ru/faq') Часто задаваемые вопросы
      .w-col.w-col-4
        h4.footer-title Документы
        a.page-link.in-footer(href='http://iq300.ru/oferta') Соглашение пользователя
        a.page-link.in-footer(href='http://iq300.ru/privacy') Политика конфиденциальности
        a.page-link.in-footer(href='http://iq300.ru/payments') Безопасность онлайн платежей
      .w-col.w-col-3
        h4.footer-title
        a.page-link.in-footer(href='https://itunes.apple.com/us/app/iq-300/id997723390')
          img.mobile-app-link(src='images/appstore.png' alt='AppStore')
        a.page-link.in-footer(href='https://play.google.com/store/apps/details?id=com.inostudio.IQ300&hl=ru')
          img.mobile-app-link(style='padding-top: 10px' src='images/googleplay.png' alt='GooglePlay')
