extends _layouts/base

block content
  .w-nav.navigation(data-animation='default' data-collapse='medium' data-contain='1' data-duration='400')
    .w-container
      a.w-nav-brand.brand-link(href='/')
        .nav-logo
          img(src='images/logo-text.png')
      nav.w-nav-menu.nav-menu(role='navigation')
        a.w-nav-link.nav-link(href='http://iq300.ru/pricing')
          | Цены
        a.w-nav-link.nav-link(href='https://app.iq300.ru/users/sign_up')
          | Присоединиться
      .w-nav-button.nav-link.menu
        .w-icon-nav-menu
  #top.section.main.section-main-cover
    .w-container
      .w-row
        .w-col.w-col-12
          h1.main-heading.center
            | Решение для управления
            br
            | консалтинговыми проектами
          .center.start-work-block
            a.start-work-btn(href='https://app.iq300.ru/users/sign_up')
              | Начните работу
  #features.section
    .w-container
      .w-col.w-col-12
        h2.section-title
          | Проблемы
        .section-subtitle
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='images/logo-min.png')
          span.problems-logo-number  1
        .w-col.w-col-11
          h3.feature-list-item
            | Много клиентов. Много проектов. Много задач.
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='images/logo-min.png')
          span.problems-logo-number  2
        .w-col.w-col-11
          h3.feature-list-item
            | Использование нескольких средств коммуникации в работе: e-mail, чаты, телефоны.
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='images/logo-min.png')
          span.problems-logo-number  3
        .w-col.w-col-11
          h3.feature-list-item
            | Низкая оперативность, слабая реакция на обратную связь.
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='images/logo-min.png')
          span.problems-logo-number  4
        .w-col.w-col-11
          h3.feature-list-item
            | Высокая трудоемкость формирования отчетов.
  .section.purple
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2.section-title
            | Создание клиента в системе IQ300
          .section-subtitle
            | Шаг 1. Регистрация клиента в модуле управления клиентами
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='images/new-client.png')
      .w-row.feature-row.step
        .w-col.w-col-12.center
          .section-subtitle
            | Шаг 2. Создание аккаунта для клиента в системе
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='images/new-client-account.png')
  .section
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2.section-title
            | Создание проекта по клиенту
          .section-subtitle
            | Шаг 3. Создание задач по работе с клиентом
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='images/new-client-task.png')
      .w-row.feature-row.step
        .w-col.w-col-12.center
          .section-subtitle
            | Шаг 4. Разработка плана-графика работ
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='images/plan.png')
  .section.purple
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2.section-title
            | Проектный документооборот
          .section-subtitle
            | Шаг 5. Согласование и управление документами проекта
        .w-col.w-col-12.center
          .main-feature-group
            img(data-ix='fade-in-on-scroll' src='images/new-client-task.png')
        .w-col.w-col-6.center
          .main-feature-group
            img(data-ix='fade-in-on-scroll' src='images/docs-list.png')
        .w-col.w-col-6.center
          .main-feature-group
            img(data-ix='fade-in-on-scroll' src='images/docs-large.png')
  .section
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2.section-title
            | Контроль исполнения задач
          .section-subtitle
            | Шаг 6. Создание отчетов для руководителей по работе их сотрудников
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='images/reports-list.png')
      .w-row.feature-row.step
        .w-col.w-col-12.center
          .section-subtitle
            | Шаг 7. Представление отчетов в наглядном виде
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='images/report-graph.png')
  .section.purple
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2.section-title
            | Решение для консалтинговых компаний
          .section-subtitle
            h3
              | IQ300 — система проектного управления.
          .section-subtitle.feature-list-item
            | Использование её в работе обеспечивает:
        .w-row.feature-row
          .w-col.w-col-1
            img.problems-logo-counter(src='images/logo-min.png')
            span.problems-logo-number  1
          .w-col.w-col-11
            p.feature-list-item.decision-text
              | Увеличение количества проектов в единицу времени без увеличения численности сотрудников. До 45% эффективности.
        .w-row.feature-row
          .w-col.w-col-1
            img.problems-logo-counter(src='images/logo-min.png')
            span.problems-logo-number  2
          .w-col.w-col-11
            p.feature-list-item.decision-text
              | Экономия времени за счет создания шаблонов типовых проектов. Сокращение времени создания проекта на основе готового шаблона в 4 раза.
        .w-row.feature-row
          .w-col.w-col-1
            img.problems-logo-counter(src='images/logo-min.png')
            span.problems-logo-number  3
          .w-col.w-col-11
            p.feature-list-item.decision-text
              | Повышение исполнительской дисциплины сотрудников клиентов за счет еженедельного представления отчетов по их работе
        .w-row.feature-row
          .w-col.w-col-12.center
            .main-feature-group.center
              .start-work-block
                a.start-work-btn(href='https://app.iq300.ru/users/sign_up')
                  | Начните работу
  .section
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2.section-title
            | Контакты
        .w-col.w-col-4
        .w-col.w-col-4.center
          .main-feature-group.center
            img(src='images/contacts.png')
            p
              | Служба продаж ООО «Айкью 300»
            a(href='callto:+79172318006') +7 917-231-80-06
            br
            a(href='mailto:julia.kablukova@iq300.ru') julia.kablukova@iq300.ru
  include _blocks/footer
  //if lte IE 9
    script(src='//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js')
