extends _layouts/base

block content
  .w-nav.navigation(data-animation='default' data-collapse='medium' data-contain='1' data-duration='400')
    .w-container
      a.w-nav-brand.brand-link(href='/')
        .nav-logo
          img(src='assets/images/logo-text.png')
      nav.w-nav-menu.nav-menu(role='navigation')
        a.w-nav-link.nav-link(href='http://iq300.ru/pricing') &TScy;&iecy;&ncy;&ycy;
        a.w-nav-link.nav-link(href='https://app.iq300.ru/users/sign_up') &Pcy;&rcy;&icy;&scy;&ocy;&iecy;&dcy;&icy;&ncy;&icy;&tcy;&softcy;&scy;&yacy;
      .w-nav-button.nav-link.menu
        .w-icon-nav-menu
  #top.section.main(style='padding: 10% 0')
    .w-container
      .w-row
        .w-col.w-col-12
          h1.main-heading.center
            | &Rcy;&iecy;&shcy;&iecy;&ncy;&icy;&iecy; &dcy;&lcy;&yacy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;
            br
            |               &kcy;&ocy;&ncy;&scy;&acy;&lcy;&tcy;&icy;&ncy;&gcy;&ocy;&vcy;&ycy;&mcy;&icy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;&mcy;&icy;
          .center.start-work-block
            a.start-work-btn(href='https://app.iq300.ru/users/sign_up') &Ncy;&acy;&chcy;&ncy;&icy;&tcy;&iecy; &rcy;&acy;&bcy;&ocy;&tcy;&ucy;
  #features.section
    .w-container
      .w-col.w-col-12
        h2 &Pcy;&rcy;&ocy;&bcy;&lcy;&iecy;&mcy;&ycy;
        .section-subtitle
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='assets/images/logo-min.png')
          span.problems-logo-number  1
        .w-col.w-col-11
          h3.bold-text &Mcy;&ncy;&ocy;&gcy;&ocy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;. &Mcy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ocy;&vcy;. &Mcy;&ncy;&ocy;&gcy;&ocy; &zcy;&acy;&dcy;&acy;&chcy;.
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='assets/images/logo-min.png')
          span.problems-logo-number  2
        .w-col.w-col-11
          h3.bold-text &Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&icy;&khcy; &scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy; &kcy;&ocy;&mcy;&mcy;&ucy;&ncy;&icy;&kcy;&acy;&tscy;&icy;&icy; &vcy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy;: e-mail, &chcy;&acy;&tcy;&ycy;, &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ycy;.
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='assets/images/logo-min.png')
          span.problems-logo-number  3
        .w-col.w-col-11
          h3.bold-text &Ncy;&icy;&zcy;&kcy;&acy;&yacy; &ocy;&pcy;&iecy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ocy;&scy;&tcy;&softcy;, &scy;&lcy;&acy;&bcy;&acy;&yacy; &rcy;&iecy;&acy;&kcy;&tscy;&icy;&yacy; &ncy;&acy; &ocy;&bcy;&rcy;&acy;&tcy;&ncy;&ucy;&yucy; &scy;&vcy;&yacy;&zcy;&softcy;.
      .w-row.feature-row
        .w-col.w-col-1
          img.problems-logo-counter(src='assets/images/logo-min.png')
          span.problems-logo-number  4
        .w-col.w-col-11
          h3.bold-text &Vcy;&ycy;&scy;&ocy;&kcy;&acy;&yacy; &tcy;&rcy;&ucy;&dcy;&ocy;&iecy;&mcy;&kcy;&ocy;&scy;&tcy;&softcy; &fcy;&ocy;&rcy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &ocy;&tcy;&chcy;&iecy;&tcy;&ocy;&vcy;.
  .section.purple
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2 &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy; &vcy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&iecy; IQ300
          .section-subtitle
            | &SHcy;&acy;&gcy; 1. &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy; &vcy; &mcy;&ocy;&dcy;&ucy;&lcy;&iecy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy;&icy;
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='assets/images/new-client.png')
      .w-row.feature-row.step
        .w-col.w-col-12.center
          .section-subtitle
            | &SHcy;&acy;&gcy; 2. &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy;&acy; &dcy;&lcy;&yacy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy; &vcy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&iecy;
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='assets/images/new-client-account.png')
  .section
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2 &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy; &pcy;&ocy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ucy;
          .section-subtitle
            | &SHcy;&acy;&gcy; 3. &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &zcy;&acy;&dcy;&acy;&chcy; &pcy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy; &scy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&mcy;
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='assets/images/new-client-task.png')
      .w-row.feature-row.step
        .w-col.w-col-12.center
          .section-subtitle
            | &SHcy;&acy;&gcy; 4. &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy; &pcy;&lcy;&acy;&ncy;&acy;-&gcy;&rcy;&acy;&fcy;&icy;&kcy;&acy; &rcy;&acy;&bcy;&ocy;&tcy;
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='assets/images/plan.png')
  .section.purple
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2 &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ncy;&ycy;&jcy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&ocy;&bcy;&ocy;&rcy;&ocy;&tcy;
          .section-subtitle
            | &SHcy;&acy;&gcy; 5. &Scy;&ocy;&gcy;&lcy;&acy;&scy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &icy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy;&mcy;&icy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;
        .w-col.w-col-12.center
          .main-feature-group
            img(data-ix='fade-in-on-scroll' src='assets/images/new-client-task.png')
        .w-col.w-col-6.center
          .main-feature-group
            img(data-ix='fade-in-on-scroll' src='assets/images/docs-list.png')
        .w-col.w-col-6.center
          .main-feature-group
            img(data-ix='fade-in-on-scroll' src='assets/images/docs-large.png')
  .section
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2 &Kcy;&ocy;&ncy;&tcy;&rcy;&ocy;&lcy;&softcy; &icy;&scy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&icy;&yacy; &zcy;&acy;&dcy;&acy;&chcy;
          .section-subtitle
            | &SHcy;&acy;&gcy; 6. &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &ocy;&tcy;&chcy;&iecy;&tcy;&ocy;&vcy; &dcy;&lcy;&yacy; &rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&iecy;&jcy; &pcy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy; &icy;&khcy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&kcy;&ocy;&vcy;
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='assets/images/reports-list.png')
      .w-row.feature-row.step
        .w-col.w-col-12.center
          .section-subtitle
            | &SHcy;&acy;&gcy; 7. &Pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &ocy;&tcy;&chcy;&iecy;&tcy;&ocy;&vcy; &vcy; &ncy;&acy;&gcy;&lcy;&yacy;&dcy;&ncy;&ocy;&mcy; &vcy;&icy;&dcy;&iecy;
        .w-col.w-col-12.center
          img(data-ix='fade-in-on-scroll' src='assets/images/report-graph.png')
  .section.purple
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2 &Rcy;&iecy;&shcy;&iecy;&ncy;&icy;&iecy; &dcy;&lcy;&yacy; &kcy;&ocy;&ncy;&scy;&acy;&lcy;&tcy;&icy;&ncy;&gcy;&ocy;&vcy;&ycy;&khcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&jcy;
          .section-subtitle
            h3 IQ300 &mdash; &scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ncy;&ocy;&gcy;&ocy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;.
          .section-subtitle.bold-text
            | &Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &iecy;&iocy; &vcy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy; &ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&icy;&vcy;&acy;&iecy;&tcy;:
        .w-row.feature-row
          .w-col.w-col-1
            img.problems-logo-counter(src='assets/images/logo-min.png')
            span.problems-logo-number  1
          .w-col.w-col-11
            p.bold-text.decision-text
              | &Ucy;&vcy;&iecy;&lcy;&icy;&chcy;&iecy;&ncy;&icy;&iecy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&acy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ocy;&vcy; &vcy; &iecy;&dcy;&icy;&ncy;&icy;&tscy;&ucy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy; &bcy;&iecy;&zcy; &ucy;&vcy;&iecy;&lcy;&icy;&chcy;&iecy;&ncy;&icy;&yacy; &chcy;&icy;&scy;&lcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&icy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&kcy;&ocy;&vcy;. &Dcy;&ocy; 45% &ecy;&fcy;&fcy;&iecy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&scy;&tcy;&icy;.
        .w-row.feature-row
          .w-col.w-col-1
            img.problems-logo-counter(src='assets/images/logo-min.png')
            span.problems-logo-number  2
          .w-col.w-col-11
            p.bold-text.decision-text
              | &Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&yacy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy; &zcy;&acy; &scy;&chcy;&iecy;&tcy; &scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&yacy; &shcy;&acy;&bcy;&lcy;&ocy;&ncy;&ocy;&vcy; &tcy;&icy;&pcy;&ocy;&vcy;&ycy;&khcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ocy;&vcy;. &Scy;&ocy;&kcy;&rcy;&acy;&shchcy;&iecy;&ncy;&icy;&iecy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy; &scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&yacy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy; &ncy;&acy; &ocy;&scy;&ncy;&ocy;&vcy;&iecy; &gcy;&ocy;&tcy;&ocy;&vcy;&ocy;&gcy;&ocy; &shcy;&acy;&bcy;&lcy;&ocy;&ncy;&acy; &vcy; 4 &rcy;&acy;&zcy;&acy;.
        .w-row.feature-row
          .w-col.w-col-1
            img.problems-logo-counter(src='assets/images/logo-min.png')
            span.problems-logo-number  3
          .w-col.w-col-11
            p.bold-text.decision-text
              | &Pcy;&ocy;&vcy;&ycy;&shcy;&iecy;&ncy;&icy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&jcy; &dcy;&icy;&scy;&tscy;&icy;&pcy;&lcy;&icy;&ncy;&ycy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&kcy;&ocy;&vcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &zcy;&acy; &scy;&chcy;&iecy;&tcy; &iecy;&zhcy;&iecy;&ncy;&iecy;&dcy;&iecy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &ocy;&tcy;&chcy;&iecy;&tcy;&ocy;&vcy; &pcy;&ocy; &icy;&khcy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy;
        .w-row.feature-row
          .w-col.w-col-12.center
            .main-feature-group.center
              .start-work-block
                a.start-work-btn(href='https://app.iq300.ru/users/sign_up') &Ncy;&acy;&chcy;&ncy;&icy;&tcy;&iecy; &rcy;&acy;&bcy;&ocy;&tcy;&ucy;
  .section
    .w-container
      .w-row.feature-row.step
        .w-col.w-col-12.center
          h2 &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
        .w-col.w-col-4
        .w-col.w-col-4.center
          .main-feature-group.center
            img(src='assets/images/contacts.png')
            p &Scy;&lcy;&ucy;&zhcy;&bcy;&acy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy; &Ocy;&Ocy;&Ocy; &laquo;&Acy;&jcy;&kcy;&softcy;&yucy; 300&raquo;
            a(href='callto:+79172318006') +7 917-231-80-06
            br
            a(href='mailto:julia.kablukova@iq300.ru') julia.kablukova@iq300.ru
  .section.footer
    .w-container
      .w-row
        .w-col.w-col-2
          h4.footer-title &Kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy;
          a.page-link.in-footer(href='http://iq300.ru/pricing') &TScy;&iecy;&ncy;&ycy;
          a.page-link.in-footer(href='http://demo.iq300.ru/') &Dcy;&iecy;&mcy;&ocy; iQ300
          a.page-link.in-footer(href='http://iq300.ru/blog') &Bcy;&lcy;&ocy;&gcy;
          a.page-link.in-footer(href='http://iq300.ru/news') &Scy;&mcy;&icy; &ocy; &Ncy;&acy;&scy;
        .w-col.w-col-3
          h4.footer-title &Pcy;&ocy;&mcy;&ocy;&shchcy;&softcy;
          a.page-link.in-footer(href='http://iq300.ru/howtodeploy') &Kcy;&acy;&kcy; &vcy;&ncy;&iecy;&dcy;&rcy;&icy;&tcy;&softcy; iQ300
          a.page-link.in-footer(href='http://iq300.ru/faq') &CHcy;&acy;&scy;&tcy;&ocy; &zcy;&acy;&dcy;&acy;&vcy;&acy;&iecy;&mcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
        .w-col.w-col-4
          h4.footer-title &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
          a.page-link.in-footer(href='http://iq300.ru/oferta') &Scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&iecy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;
          a.page-link.in-footer(href='http://iq300.ru/privacy') &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
          a.page-link.in-footer(href='http://iq300.ru/payments') &Bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ocy;&scy;&tcy;&softcy; &ocy;&ncy;&lcy;&acy;&jcy;&ncy; &pcy;&lcy;&acy;&tcy;&iecy;&zhcy;&iecy;&jcy;
        .w-col.w-col-3
          h4.footer-title
          a.page-link.in-footer(href='https://itunes.apple.com/us/app/iq-300/id997723390')
            img.mobile-app-link(src='assets/images/appstore.png' alt='AppStore')
          a.page-link.in-footer(href='https://play.google.com/store/apps/details?id=com.inostudio.IQ300&hl=ru')
            img.mobile-app-link(style='padding-top: 10px' src='assets/images/googleplay.png' alt='GooglePlay')
  .section.footer.copyright
    .w-container
      .w-col.w-col-9
        | Copyright 2016
        span.subfooter-copyrights-text-brand-name &Ocy;&Ocy;&Ocy;&quot;&Acy;&jcy;&kcy;&softcy;&yucy; 300&quot;
      .w-col.w-col-3.footer-social-links
        a(href='http://linkedin.com/company/iq300')
          img(src='assets/images/footer-ln.png')
        a(href='http://facebook.com/iq300com')
          img(src='assets/images/footer-fb.png')
        a(href='http://vk.com/iq300ru')
          img(src='assets/images/footer-vk.png')
  //if lte IE 9
    script(src='//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js')
